:root{
    --main-text-color:#212121;
    --accent-color:#2196F3;
    --title-color:#212121;
    --subtitle-color: #757575;
    --secondary-text-color: #757575;
    --wite-color:#ffffff;
    --black-color:#000000;
    

}
body{
    font-family: Roboto, sans-serif;
    background-color: #757575;
}


.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

}
/* Класи индекс */
.header {}

.header-logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
 
        letter-spacing: 0.03em;
    
        color: #212121;
}
.span{
    color: #2196F3;
}

.header-nav {}

.header-list {}

.header-item {}

.header-link {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.header-contact {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.19;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.header-mail {}

.header-tell {}

.main {}

.hero {}

.main-hero {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.main-button {
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
background-color: #2196F3;
    color: #FFFFFF;}

.quality {}

.hide {}

.quality-list {}

.quality-item {}

.quality-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;}

.quality-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;}

.job {}

.job-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}

.job-list {}

.job-item {}

.team {}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}

.team-list {}

.team-item {}

.team-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;}

.team-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.footer {}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;}

.footer-address {}

.footer-list {}

.footer-item {}

.footer-gps {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);}
    /* класи портфолио */
        .portfolio {}
    
        .portfolio-section {}
    
        .hide {}
    
        .portfolio-list {}
    
        .portfolio-filter {}
    
        .portfolio-btn {
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.63;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            background-color: #F5F4FA;}
            
    
        .portfolio-items {}
    
        .portfolio-item {}
    
        .portfolio-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 2.0;
            /* identical to box height, or 200% */
        
            letter-spacing: 0.06em;
        
            color: #212121;}
    
        .portfolio-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.88;
            /* identical to box height, or 188% */
        
            letter-spacing: 0.03em;}